@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
:root{
    --primary: #1C313A;
    --secondary: #455A64;
    --accent: #F55900;
    --accent2: #FFA500;
    --background: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/*kein Rand*/
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    z-index: 111;
    background-color: var(--background);
    padding: 0 5% 0 5%;
}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: var(--accent);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.navLinks{
    display: flex;
}
.navLinks li{
    list-style: none;
    margin: 0 3vw;
}
.navLinks li a{
    font-size: 20px;
    color: var(--secondary);
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
}
.navLinks li:hover a,
.smlinks a:hover{
    color: var(--accent);
}
.smlinks a{
    font-size: 25px;
    color: var(--secondary);
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    padding: 0 7%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -13%;
    top: 45%;
    background: linear-gradient(45deg, var(--accent), var(--accent2));
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(-45deg, var(--accent2), var(--accent));
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 46%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 11%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    z-index: 5;
    width: 70%;
}
.topline{
    display: block;
    position:relative;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--primary);
}
.topline::after{
    position: absolute;
    content:'';
    height: 4px;
    width: 35px;
    bottom: 10px;
    background-color: var(--accent);
}
h1{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: var(--primary);
}
.multiText{
    color: var(--accent);
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--primary);
}
.buttons{
    width: 100%;
    position: relative;
    left: 50px;
    margin-top: 25px;
}
.button{
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: var(--background);
    background-color: var(--primary);
    padding: 8px 14px;
    margin: 40px 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.button:hover{
    background-color: var(--accent);
}
.imgbox{
    position: relative;
    width: 110%;
    height: 110%;
    margin-left: 0%;
}

.imgbox #brushstroke{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: 130%;
    height: auto;
    filter: saturate(150%);
    animation: animate 4s linear infinite;
}
.imgbox #me{
    margin-top: 20%;
    bottom: 0;
    height: 100%;
    width: calc(130% - 60px);
    top: 55%;
    right: 55%;
    animation: animateUser 4s linear infinite;
    transform: scaleX(-1);
}

@keyframes animate {
    50%{
        top: 54%;
        left: 56%;
        width: 131%;
    }
}

@keyframes animateUser {
    50%{
        right: 30px;
        top: -500px;
    }
}





/*Dark Theme*/
@media (prefers-color-scheme: dark) {
    :root{
        --primary: white;
        --secondary: #B0BEC5;
        --accent: #FFA500;
        --accent2: #F55900;
        --background: #1C313A;
    }
  }

/*Responsive Design*/
@media only screen and (max-width: 1080px) {
    .imgbox{
        width: 130%;
        height: 130%;
        margin-left: 0%;
    }
  }
/*Tablet*/
@media only screen and (max-width: 970px) {
    
  }
/*Smartphone*/